@model Employee //هون بس بدي اعدل عواحد مش ليست

<h1>Edit Employee</h1>

<form asp-controller="Employees" asp-action="Update">
	<!-- Employees الي اسمه Controller الموجود في  Store الي اسمه Action  بحولني مباشرة على ال -->
	<div class="my-3">
		<label asp-for="Name"></label>
		<input asp-for="Name"  class="form-control"  /> <!--بعطي النيم عشان يجيب الفاليو الي اله  --> <!-- عشان احط قيمة ابتدائية : value ممكن احط -->
	</div>

	<!--<input type="hidden" class="form-control" name="Id" value="@Model.Id" /> -->
	@Html.HiddenFor(model=>model.Id)

	<div class="my-3">
		<label asp-for="Email"></label>
		<input asp-for="Email" class="form-control"  /> <!-- نفس الاسم الي موجود فيه بالداتا بيس تماما name لازم يكون  --> <!-- الي اله value عشان يجيب ال  name بعطي ال -->
	</div>
	<div class="my-3">
		<label asp-for="Password"></label>
		<input asp-for="Password" class="form-control" /> <!-- الي اله value عشان يجيب ال  name بعطي ال -->
	</div>

	<button type="submit" class="btn btn-outline-primary"> Update </button>
</form>
